{% extends widget.get_base_template %}

{% load i18n %}
{% load leonardo_tags %}

{% block content %}
<div class="{{ widget.prerendered_content }}">
<form action="{% app_reverse 'gedgo_search' 'leonardo_gedgo.apps.gedgo' %}" method="get" class="navbar-collapse collapse navbar-form navbar-left" role="search">
    <div>
          <div class="input-group">
            <input id="search-input" type="text" placeholder="{% trans "Search" %}" class="form-control" name="q" placeholder="Search">
            <span class="input-group-btn">
                <button id='search-button' class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </span>
          </div>
    </div>
</form>
</div>
{% endblock %}